<p>
  <b>From:</b>
  <%=h User.find(@message.from_profile_id).login %>
</p>

<p>
  <b>To:</b>
  <%=h User.find(@message.to_profile_id).login %>
</p>

<p>
  <b>Content:</b><br/>
  <%=h @message.content %>
</p>

<%= link_to 'Back', messages_path %>
