         <html>
           <head>
             <title>Hello, Rails!</title>
           </head>
           <body>
             <h3>Hello from Rails!</h3>
		
<p>
  It is now <%= @time %>.
</p>
<p>
  Time to say
  <%= link_to "GoodBye!", :action => "goodbye" %>
</p>

           </body>
         </html>

